 <!DOCTYPE html>
 <html>
     <head>
         <meta charset='utf-8'>
         <meta name='viewport' content='width=device-width, initial-scale=1'>
         <title>Snippet - BBBootstrap</title>
         <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
         <link href='' rel='stylesheet'>
     <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
     <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
     <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="{{ asset('css/style.cs')}}">
        <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/styles.min.css')}}">

 </head>
 <body oncontextmenu='return false' class='snippet-body'>
     <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152092/smartwizard/smart_wizard.min.css" rel="stylesheet" type="text/css" />
  <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152091/smartwizard/smart_wizard_theme_arrows.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152197/smartwizard/jquery.smartWizard.min.js"></script>
  <div class="container">
      <div class="row d-flex justify-content-center mt-200"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Inscrever-se </button> </div> <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Dados da Inscricao</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                  </div>
                  <div class="modal-body">
                      <div id="smartwizard">
                          <ul>
                              <li><a href="#step-1">Primeiro  Passo<br /><small>Dados Pessoais</small></a></li>
                              <li><a href="#step-2">Segundo Passo<br /><small>Contactos</small></a></li>
                              <li><a href="#step-3">Terceiro Passo<br /><small>Endereco </small></a></li>
                              <li><a href="#step-4">Quarto Passo<br /><small>Dados Academicos</small></a></li>
                              <li><a href="#step-5">Quinto Passo<br /><small>Confirm details</small></a></li>
                          </ul>
                          <div class="mt-4">
                              <div id="step-1">
                                  <div class="row">
                                      <div class="col-md-12"> <input type="text" class="form-control" placeholder="Seu Nome" required> </div>
                                      </br> </br>
                                      <div class="col-md-12"> <select class="form-control"  >
                                      	<option value="">Selecione Sexo</option>
                                      </select>

                                       </div>
                                      </br> </br>
                                      <div class="col-md-12"> <input type="Date" class="form-control" placeholder="Email" required> </div>
                                  </div>

                              </div>
                              <div id="step-2">
                                  <div class="row">
                                      <div class="col-md-12"> <input type="text" class="form-control" placeholder="Celular 1" required> </div>
                                      <br><br>
                                      <div class="col-md-12"> <input type="text" class="form-control" placeholder="Celular 2" required> </div>
                                      <br><br>
                                      <div class="col-md-12"> <input type="text" class="form-control" placeholder="E-mail" required> </div>
                                  </div>

                              </div>
                              <div id="step-3" class="">
                                  <div class="row">
                                    <div class="col-md-12">
                                        <select class="form-control">
                                            <option value=""> Selecione a Provincia</option>
                                        </select>
                                    </div>
                                    <br><br>
                                    <div class="col-md-12"> <input type="text" class="form-control" placeholder="Cidade/Distrito" required> </div>
                                  </div>
                                  <div class="row mt-3">
                                      <div class="col-md-12"> <input type="text" class="form-control" placeholder="Bairro" required> </div>
                                  </div>
                              </div>
                              <div id="step-4" class="">
                                  <div class="row">
                                    <div class="col-md-12">
                                        <select class="form-control">
                                            <option value=""> Selecione a Instituicao</option>
                                        </select>
                                    </div>
                                    <br><br>
                                    <div class="col-md-12">
                                        <select class="form-control">
                                            <option value=""> Selecione o Curso</option>
                                        </select>
                                    </div>
                                    <br><br>
                                    <div class="col-md-12">
                                        <select class="form-control">
                                            <option value=""> Selecione o Nivel Academinco</option>
                                        </select>
                                    </div>
                              </div>
                          </div>
                              <div id="step-5" class="">
                                  <div class="row">
                                      <div class="col-md-12"> <span>Thanks For submitting your details with BBBootstrap.com. we will send you a confirmation email. We will review your details and revert back.</span> </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

                                 <script type='text/javascript'> $(document).ready(function(){

  $('#smartwizard').smartWizard({
  selected: 0,
  theme: 'arrows',
  autoAdjustHeight:true,
  transitionEffect:'fade',
  showStepURLhash: false,

  });

  });</script>
                             </body>
                         </html>
 </html>
